.cadrephoto {
	width: 150px;
	height: 150px;
}
.photo {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Pour bien remplir le conteneur sans déformer l’image */
	display: block; /* Évite les petits espaces indésirables sous l’image */
}

.bi-arrow-through-heart {
	background: black;
	color: red;
	padding: 1em;
	border-radius: 50%;
}
