<theory-header chapterName="Base du routing" />
<section class="card-body">
	<p>
		Le routing est un concept essentiel dans le développement d'applications web modernes. Il permet de naviguer entre les différentes
		pages de l'application. Angular propose un système de routing très puissant et flexible.
	</p>
	<p>Dans cette section, nous allons voir comment configurer le routing dans une application Angular.</p>
	<div class="card">
		<div class="card-header">
			<h2>Qu'est-ce que le routing?</h2>
		</div>
		<div class="card-body">
			<p>
				Le routing est un mécanisme qui permet de naviguer entre les différentes pages d'une application web. Chaque page est
				associée à une URL spécifique. Quand l'utilisateur clique sur un lien ou entre une URL dans la barre d'adresse du
				navigateur, le routing permet de charger la page correspondante.
			</p>
			<p>
				Par exemple, si vous aller sur l'url
				<code>http://localhost:4200/theory/2</code>, Angular va charger la page correspondante à cette URL.
			</p>
		</div>

		<div class="card-header">
			<h3>Comment fonctionne le routing?</h3>
		</div>
		<div class="card-body">
			<p>Le routing dans Angular fonctionne de la manière suivante :</p>
			<ul>
				<li>Chaque route est associée à un composant.</li>
				<li>
					Quand l'utilisateur navigue vers une route, Angular charge le composant associé à cette route et l'affiche dans la vue.
				</li>
				<li>Angular gère automatiquement la navigation entre les différentes routes.</li>
			</ul>

			<p>
				Pour retracer le routing de la route
				<code>http://localhost:4200/theory/2</code>, on va devoir la décomposer
			</p>
			<ol>
				<li>
					<code>http://localhost:4200/</code>: arrive dans le fichier
					<code>src/app/app.routes.ts</code>
				</li>
				<li>
					dans le fichier <code>app.routes.ts</code>, on trouvera le code suivante:
					<textarea highlight-js [options]="{}" [lang]="'typescript'">
import {Routes} from "@angular/router";
import {HomeComponent} from "./features/home/pages/home/home.component";

export const routes: Routes = [
	{
		path: "",
		component: HomeComponent,
	},
	{
		path: "theory",
		loadChildren: () =>
			import("./features/theory/theory.routes").then(r => r.routes),
	},
	{
		path: "demo",
		loadChildren: () =>
			import("./features/demo/demo.routes").then(r => r.routes),
	},
	{
		path: "exercise",
		loadChildren: () =>
			import("./features/exercise/exercise.routes").then(r => r.routes),
	},
];

          </textarea
					>
					Cela signifie que la route <code>theory/</code> est associée au fichier
					<code>src/app/features/theory/theory.routes.ts</code><br />
					<i
						>🔎<code>loadChildren</code> permet de faire du lazyloading mais sera vu plus en profondeur dans le chapitre sur le
						routing.</i
					>
				</li>
				<li>
					pour continuer, on va devoir regarder le fichier
					<code>src/app/features/theory/theory.routes.ts</code> (routing spécifique à la theorie)
					<textarea highlight-js [options]="{}" [lang]="'typescript'">
import {Routes} from "@angular/router";

export const routes: Routes = [
	{
		path: "0",
		loadComponent: () =>
			import("./theory-intro/theory-intro.component").then(
				c => c.TheoryIntroComponent,
			),
	},
	{
		path: "1",
		loadComponent: () =>
			import("./theory-composant/theory-composant.component").then(
				c => c.TheoryComposantComponent,
			),
	},
	{
		path: "2",
		loadComponent: () =>
			import("./theory-base-routing/theory-base-routing.component").then(
				c => c.DemoBaseRoutingNavigationComponent,
			),
	},
];
          </textarea
					>
					Cela signifie que la route <code>theory/2</code> est associée au composant
					<code>DemoBaseRoutingNavigationComponent</code>
				</li>
			</ol>
		</div>

		<div class="card-header">
			<h2>Ce qu'il faut retenir pour le moment</h2>
		</div>
		<div class="card-body">
			<ul>
				<li>Le routing est un mécanisme qui permet de naviguer entre les différentes pages de l'application.</li>
				<li>
					Si notre module a un routing spécifique, il faut le déclarer dans le fichier de routing du module
					(<code>theory.routes.ts</code>).
				</li>
				<li>Angular gère automatiquement la navigation entre les différentes routes.</li>
				<li>Chaque route est associée à un composant.</li>
			</ul>
		</div>
	</div>
	🔎La démo est lié au chapitre sur la base de la navigation
</section>
