<p>Voici un exemple de code qui se trouverait dans un model <code>User</code></p>

<textarea highlight-js [options]="{}" [lang]="'typescript'">
export interface UserModel {
  id: number;
  name: string;
  email: string;
  password: string;
  role: string;
  createdAt: Date;
  updatedAt: Date;
}
</textarea>

<p>
	Ce model est utilisé pour définir la structure d'un utilisateur dans l'application. <br />
	Utiliser des modeles permet de typer les données et de s'assurer que les données sont bien
	formatées.
</p>
