<article class="card">
	<div class="card-header">
		<h2>Exercie 2 - Todo list</h2>

		<i>Dossier de travail: <code>src/app/features/exercise/pages/exercise-input-output/components/input-output-exercise2/</code></i>
	</div>
	<div class="card-body">
		<p>Mettre en place une shopping list en 2 composants.</p>
		<ul>
			<li>Le premier composant possède un champ textuel et un bouton permettant l'ajout d'une tâche à la liste</li>
			<li>Le second s'occupera de l'affichage et la possibilité de supprimer une tâche</li>
		</ul>
		<p>Bonus:</p>
		<ul>
			<li>Utliser les classes bootstraps (ou stylisé la liste)</li>
			<li>
				Créer une liste d'objet plus complexe qu'une todo list (liste de produit, pokemon,... ) (⚠️ rien d'obscènes, ça doit rester
				tout-publique)
			</li>
		</ul>
		<p>
			Résultat attendu: <spoil><img [src]="imgUrlResultat" alt="resultat" /></spoil>
		</p>
		<p>
			Structure de fichiers: <spoil><img [src]="imgUrlStructure" alt="structure" /></spoil>
		</p>
	</div>
	<div class="card-header">
		<h2>Résultat:</h2>
	</div>
	<div class="card-body">
		<!--	Place ton color picker ici!	-->
	</div>
</article>
