<exercise-header chapterName="Pipe" />
<section class="card-body">
	<p>Utilise tout ce que tu as appris dans le chapitre des pipes!</p>
	<i>Dossier de travail: <code>src/app/features/exercise/pages/exercise-pipe/</code></i>
	<article class="card">
		<div class="card-header">
			<h2>Objectif</h2>
		</div>
		<div class="card-body">
			<p>Crée plusieurs pipes pour transformer des données.</p>
		</div>
	</article>

	<article class="card">
		<div class="card-header">
			<h2>Exercie 1 - UnE LeTtRe SuR 2.</h2>
		</div>
		<div class="card-body">
			<p>Créer une pipe pour transformer un texte en alternant une lettre sur deux en majuscule.</p>
		</div>
	</article>
	<article class="card">
		<div class="card-header">
			<h2>Exercie 2 - Affichage de tableau</h2>
		</div>
		<div class="card-body">
			<p>
				Créer une pipe qui prendra un paramètre pour afficher un tableau de données. <br />
				Par exemple: <br />
			</p>
			<ul>
				<li>Par défaut: <code>['a', 'b', 'c']</code> deviendra <code>a, b, c</code></li>

				<li>
					Avec un paramètre qui serait renseigner:
					<ul>
						<li>(<code>-</code>) : <code>['a', 'b', 'c']</code> deviendra <code>a - b - c</code></li>
						<li>(<code>+-</code>) : <code>['a', 'b', 'c']</code> deviendra <code>a +- b +- c</code></li>
						<li>(<code>...</code>) : <code>['a', 'b', 'c']</code> deviendra <code>a ... b ... c</code></li>
						<li>... Bref, l'utilisateur choisit.</li>
					</ul>
				</li>
			</ul>
		</div>
	</article>
</section>
