<demo-header chapterName="Http Client" />
<section class="card-body">
	<article class="card">
		<div class="card-header">
			<h2>Pokemon démo</h2>
			<i> Fichiers: <code>src/app/features/demo/pages/demo-http-client/components/pokemon-demo</code> </i>
		</div>
		<div class="card-body">
			<pokemon-demo />
		</div>
	</article>
	<article class="card">
		<div class="card-header">
			<h2>Car démo</h2>
			<i> Fichiers: <code>src/app/features/demo/pages/demo-http-client/components/car-demo</code> </i>
		</div>
		<div class="card-body">
			<car-demo />
		</div>
	</article>
</section>
