<article class="card">
	<div class="card-header">
		<h2>Exercie 1 - Color picker</h2>

		<i>Dossier de travail: <code>src/app/features/exercise/pages/exercise-input-output/components/input-output-exercise1/</code></i>
	</div>
	<div class="card-body">
		<p>
			Créer un composant <code>ColorPicker</code> qui permet à un utilisateur de sélectionner une couleur dans une liste. La couleur
			sélectionnée doit être communiquée au parent via un <code>output</code>.
		</p>
		<p>Contraintes:</p>
		<ul>
			<li>Utiliser la balise <code>select</code> (sauf si tu souhaites faire un color picker plus joli)</li>
			<li>La liste de couleur doit provenir du parent</li>
			<li>(Optionnel) Crée un model "Color"</li>
		</ul>
		<p>
			Résultat attendu: <spoil><img [src]="imgUrlResultat" alt="resultat" /></spoil>
		</p>
		<p>
			Structure de fichiers: <spoil><img [src]="imgUrlStructure" alt="structure" /></spoil>
		</p>
	</div>

	<div class="card-header">
		<h2>Résultat:</h2>
	</div>
	<div class="card-body">
		<!--	Place ton color picker ici!	-->

		<p [style.color]="selectedColor">Selected color</p>
	</div>
</article>
