<exercise-header chapterName="Bindings" />

<section class="card-body">
	<p>Utilise tout ce que tu as appris dans le chapitre des bindings pour créer un mini formulaire!</p>
	<article class="card">
		<div class="card-header">
			<h2>Objectif</h2>
		</div>
		<div class="card-body">
			<p>
				Pratiquer l'utilisation de l'interpolation, de la liaison de propriété, de la liaison d'événement et de la liaison
				d'attribut pour réaliser un "Template-driven form".
			</p>
		</div>
	</article>

	<article class="card">
		<div class="card-header">
			<h2>Template-driven Forms</h2>
		</div>
		<div class="card-body">
			<p>
				Modifie le fichier <code>src/app/features/exercise/pages/exercise-bindings/exercise-bindings.component.ts</code> et
				<code>src/app/features/exercise/pages/exercise-bindings/exercise-bindings.component.html</code> pour réaliser un mini
				formulaire.
			</p>
			<p>Consignes:</p>
			<ul>
				<li>Le formulaire devra contenir 2 inputs: nom et prenom, et un bouton submit.</li>
				<li>Le nom et prenom devront être afficher sur la page (voir image résultat).</li>
				<li>Le bouton submit devra être désactivé si le nom ou le prénom est vide.</li>
				<li>Le bouton submit devra afficher un message dans la console avec le nom et le prénom.</li>
				<li>
					Bonus: utilise boostrap ou du css pour mettre un peu de style dans ton formulaire.<br />
					<i>🔎Boostrap est déjà en place dans le projet, il ne te reste qu'à utiliser ses noms de class</i>
				</li>
			</ul>
			<p>
				Résultat attendu:<br />
				<img [src]="imageUrlResultat" alt="Résultat attendu" />
			</p>
		</div>
		<div class="card-header">
			<h2>Mon formulaire</h2>
		</div>
		<div class="card-body">
			<!-- Code le formulaire ici -->

			<!-- ====================== -->
		</div>
	</article>
</section>
