<exercise-header chapterName="Directive" />
<section class="card-body">
	<div class="card-body">
		<p>
			⚠️Note: Travailler dans le composant de l'énoncé:
			<br />
			<code>src/app/features/exercise/pages/exercise-directive/</code>
			<br />
			Et afficher le résultat dans la balise <code>div</code> qui contient le commentaire : <code>PLACER VOTRE CODE ICI!</code>
		</p>
	</div>
	<article class="card">
		<div class="card-header">
			<h2>Partie 1: Créer un modèle</h2>
		</div>
		<div class="card-body">
			<p>Créer un modèle qui représente un produit qui possède :</p>
			<ul>
				<li>nom</li>
				<li>photo</li>
				<li>prix</li>
				<li>prixPromo</li>
				<li>moenPro</li>
				<li>qttRestante</li>
			</ul>
		</div>
		<div class="card-header">
			<h2>Partie 2: Listing</h2>
		</div>
		<div class="card-body">
			<p>Créer une liste de produits et l'afficher :</p>
			<ul>
				<li>Si un produit est en promo, on affiche son prix normal barré et son prix promo en rouge.</li>
				<li>Si un produit n'est plus disponible (qtt 0), afficher qu'il ne l'est plus.</li>
			</ul>
		</div>
	</article>
	<article class="card">
		<div class="card-header">
			<h2>Résultat:</h2>
		</div>
		<div class="card-body">
			<!-- PLACER VOTRE CODE ICI!	-->
		</div>
	</article>
</section>
