<exercise-header chapterName="Interceptor" />
<section class="card-body">
	<article class="card">
		<div class="card-header">
			<h2 class="color-red">Avant de commencer cet exercice</h2>
		</div>
		<div class="card-body">
			<p>
				Lance l'API json-server qui se trouve dans ce projet avec <br />
				<code>npm run fakeApi:secured</code>
			</p>
		</div>
	</article>
	<article class="card">
		<div class="card-header">
			<h2>Système de login</h2>
			<i
				>Fichier de travail:
				<code
					>src/app/features/exercise/pages/exercise-http-interceptor/components/authentication</code
				></i
			>
		</div>
		<div class="card-body">
			<p>
				Créer une page de login qui permet de s'enregistrer et de se connecter à
				l'application.
			</p>
			<i>
				🔎 Aller voir la documentation de
				<a href="https://www.npmjs.com/package/@ovyn/api-server"
					><code>&#64;ovyn/api-server</code></a
				>
				pour trouver quelle route appeler pour s'enregistrer et se connecter!
			</i>
			<p>
				Une fois connecté vérifier si votre token interceptor fonctionne en récupérant les
				informations de votre propre user!
			</p>
		</div>
		<div class="card-header">
			<h2>Résultat</h2>
		</div>
		<div class="card-body">
			<authentication />
		</div>
	</article>
</section>
