<h2>Création de livre</h2>
<form>
	<div class="form-group">
		<label for="title">Titre</label>
		<input type="text" id="title" name="title" placeholder="Titre du livre" />
	</div>
	<div class="form-group">
		<label for="author">Auteur</label>
		<input type="text" id="author" name="author" placeholder="Auteur du livre" />
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" id="description" name="description" placeholder="Description du livre" />
	</div>
	<button type="submit" class="btn btn-primary">Créer</button>
</form>
