<exercise-header chapterName="Http Client" />
<section class="card-body">
	<article class="card">
		<div class="card-header">
			<h2 class="color-red">Avant de commencer cet exercice</h2>
		</div>
		<div class="card-body">
			<p>
				Lance l'API json-server qui se trouve dans ce projet avec <br />
				<code>npm run fakeApi</code>
			</p>
		</div>
	</article>
	<article class="card">
		<div class="card-header">
			<h2>Bibliothèque</h2>
			<i>
				Fichier de travail : <br />
				<code>src/app/features/exercise/pages/exercise-http-client/components/book</code>
			</i>
		</div>
		<div class="card-body">
			<p>
				Crée une mini gestion de livre dans le composant spécifié ci-dessus en utilisant les
				concepts vues dans ce chapitre et les chapitres précédents et en utilisant
				<code>json-server</code> comme API fictive.
			</p>
			<i>
				⚠️ La collection <code>books</code> existe déjà dans le
				<abbr title="fake_api\fake-api.json">json-server</abbr>, regarde le fichier avant de
				commencer!
			</i>
			<p>Un livre devra possèder les informations suivantes:</p>
			<ul>
				<li>un id (<code>id</code> auto-générer et incrémenter)</li>
				<li>un isbn (<code>isbn</code>)</li>
				<li>un titre (<code>title</code>)</li>
				<li>un auteur (<code>author</code>)</li>
				<li>une description (<code>description</code>)</li>
				<li>une date de publication (<code>releaseDate</code>)</li>
			</ul>
			<p>Fonctionnalités:</p>
			<ul>
				<li>Afficher la liste des livres</li>
				<li>Ajouter un livre</li>
				<li>Supprimer un livre</li>
				<li>Modifier un livre</li>
			</ul>

			<p>Contraintes:</p>
			<ul>
				<li>Travailles avec <code>ReactiveForms</code> pour les formulaires</li>
				<li>
					Travailles avec plusieurs composants (composant de listing, composant
					d'ajout...)
				</li>
			</ul>
			<p>Bonus:</p>
			<ul>
				<li>Gérer la pagination du listing</li>
				<li>Utiliser une modale pour l'ajout et la modification d'élément</li>
			</ul>
			<hr />
			<book />
		</div>
	</article>
</section>
